[user]
  name = Larry Fox
  email = l@rryfox.us
	signingkey = DE0A99918B8F7E5D

[credential]
  helper = osxkeychain

[push]
  default = simple

[core]
  excludesfile = ~/.gitignore
  editor = nvim +\"syntax on\"

[color]
  ui = auto

[alias]
  a = add
  branches = branch -a --color
  ammend = commit --amend
  co = checkout
  cof = checkout --
  cob = checkout -b
  df = diff
  dfc = diff --cached
  l = log --oneline
  last = show -s --oneline
  plr = pull --rebase
  pushup = !git push --set-upstream origin `git rev-parse --abbrev-ref HEAD`
  summary = log --oneline --since=last.mon --reverse
  unstage = reset HEAD --
  # undo last commit and keep changes
  undo = reset --soft HEAD^
  zip = !git archive -o `git log -n 1 --format="git-%h"`.zip HEAD
  # abandon ship
  fuckthis = !git fetch origin && git reset --hard origin/`git symbolic-ref --short HEAD`

[github]
  user = larryfox

[rerere]
	enabled = true
[gpg]
	program = /usr/local/bin/gpg
